<!--{{ $.Scratch.Add "HasAudio" true }}-->
{{ partial "header" . }}
<div id="homepageContainer">
    <div class="titleUnit"><img src="{{ $.Site.Params.coverart }}"></div>
    <div class="episodeList">
        <p><strong>Batman's Little Bird</strong> is two friends from High School, all grown up, talking about
        Dick Grayson and why he's simply the best, and not the worst. We cover comics, tv shows, movies, and lament
        the lack of a good Dick Grayson in the cinematic universe.</p>
        <ul class="episodeList">
            {{ range $index, $element := (where .Data.Pages.ByDate.Reverse "Type" "episode") }}
            {{ $.Scratch.Add "HasEpisodes" true }}
            <li
                    class="episodeLink" data-id="{{ $element.UniqueID }}" data-src="{{ $element.Params.episode_url }}"
                    id="episode-{{ $element.UniqueID }}">{{ $element.Render "li" }}</li>
            {{ end }}
            {{ if not ($.Scratch.Get "HasEpisodes") }}
            <li>No Episodes Published Yet</li>
            {{ end }}
            <audio id="player"></audio>
        </ul>
    </div>
</div>
{{ partial "footer" . }}