{{ $.Scratch.Add "HasAudio" true }}
{{ partial "header" . }}
<div id="episodeHeroContainer"><div id="episodeHeroViewport">
    <div class="heroUnit">Welcome</div>
{{ range $index, $element := (where .Data.Pages.ByDate.Reverse "Type" "episode") }}
    <div class="heroUnit"
         id="hero-{{ $element.UniqueID }}"
         data-index="{{ $index }}">{{ $element.Render "hero" }}</div>
{{ end }}
</div></div>
<div id="audioBlock"><audio preload></audio></div>
<ul class="episodeList">
{{ range $index, $element := (where .Data.Pages.ByDate.Reverse "Type" "episode") }}
<li
    class="episodeLink" data-id="{{ $element.UniqueID }}" data-src="{{ $element.Params.episode_url }}"
    id="episode-{{ $element.UniqueID }}">{{ $element.Render "li" }}</li>
{{ end }}
</ul>
{{ partial "footer" . }}