<!--{{ $.Scratch.Add "HasAudio" true }}-->
{{ partial "header" . }}
<div id="homepageContainer">
    <div class="titleUnit"><img src="{{ $.Site.Params.bannerart }}">
        <ul class="creditsList">
            <li>Cover Art by <a href="http://www.jgodwindraws.com">Julie Godwin</a></li>
            <li>Theme Music by <a href="http://soundcloud.com/crystaljack">Crystal Jack</a></li>
        </ul>
    </div>
    <div class="episodeList">
        <p><strong>Batman's Little Bird</strong> is two friends from High School, all grown up, talking about
        Dick Grayson and why he's simply the best, and not the worst. We cover comics, tv shows, movies, and lament
        the lack of a good Dick Grayson in the cinematic universe.</p>
        <p class="callToAction">Subscribe on
            <a href="https://itunes.apple.com/us/podcast/batmans-little-bird/id1173274296?mt=2">itunes</a>,
            <a href="https://goo.gl/app/playmusic?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&link=https://play.google.com/music/m/Ic3gvtapomsajetb5vrw5wys32i?t%3DBatman%27s_Little_Bird">google play</a>, or <a href="/index.xml">wherever</a>
            you listen to your podcasts.</p>
        <ul class="episodeList">
            {{ range $index, $element := (where .Data.Pages.ByDate.Reverse "Type" "episode") }}
            {{ $.Scratch.Add "HasEpisodes" true }}
            <li
                    class="episodeLink" data-id="{{ $element.UniqueID }}" data-src="{{ $element.Params.episode_url }}"
                    id="episode-{{ $element.UniqueID }}">{{ $element.Render "li" }}</li>
            {{ end }}
            {{ if not ($.Scratch.Get "HasEpisodes") }}
            <li>No Episodes Published Yet</li>
            {{ end }}
            <audio id="player"></audio>
        </ul>
    </div>
</div>
{{ partial "footer" . }}
