#audioBlock .audiojs {
  background: get-color(neutral, dark);

  .time {
    color: get-color(neutral, light);

    .played {
      color: get-color(primary, light);
    }
  }

  .error-message {
    color: get-color(secondary, light);
  }
}