.episode {
  padding: 0.25em 1em;
  cursor: pointer;

  &:hover {
    background: get-color(secondary, light);

    & .play-button {
      // Color SVG play button
    }
  }

  a {
    text-decoration: none;
    font-variant: normal;
    color: get-color(neutral, dark);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    font-size: $episodeTitleSize;
    line-height: $episodeTitleLineHeight;
  }
}

.titleUnit {
  flex: 1;
  width: 400px;
  img {
    max-width: 100%;
    border: 3px solid get-color(neutral, dark);
  }
  margin-right: 2rem;
}

#homepageContainer {
  margin-top: 2rem;
  display: flex;

  div.episodeList {
    flex: 2;
  }

  ul.episodeList {
    margin-top: 2rem;
  }
}

.latest .episode {
  margin: 1.5em 0;
}

.active {
  background: get-color(primary, light);
}